@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.titulo {
    
    font-weight: 400; 
    font-size: 76px;
    margin-bottom: 16px;

}

.logo-image {

    background-image: url("/imgs/Rectangle\ 1.png");
    background-size: cover;
    background-position: 0px -100px;

    width: 50vw; /* 50% da largura do monitor */
    height: 100vh; /* 100% do altura da tela */
    
}

.page-container {

    display: flex; /* um ao lado do outro */

}

.login-tela {

    width: 50vw; /* 50% da largura do monitor */
    height: 100vh; /* 100% do altura da tela */

    /* Kit sobrevivência da centralização */
    display: flex; /* Ativar o flex */
    flex-direction: column; /* Muda o flex para colunas */
    align-items: center; /* Centralizar horizontalmente */
    justify-content: center; /* Centralizar verticalmente */

}

.classe { /* Com ponto antes */

}

#id { /* Com hashtag antes */

}

img { /* Tags, sem nenhum prefixo */

}

.login-container img {

    height: 60px;

}

.inpt {

    padding: 18px; /* Margem interna */
    background-color: #F7F9FB; /* Define a cor de fundo */
    width: 377px; /* Define a largura */
    border: 1px solid #ccc; /* Define a borda */
    border-radius: 10px; /* Define o arredondamento da borda */
    margin-bottom: 16px; /* Define a distância de um botão para o outro */ 
}

.btn {

    cursor: pointer;
    padding: 18px;
    background-color: black;
    color: white; /* Cor da fonte */
    border: none; /*altura*/
    width: 377px; /*largura*/
    border-radius: 10px; /* Arredonda as bordas */
    
    
}

.error-message {

    color: red;
    font-size: 12px;
    transform: translateY(-12px) translateX(-90px);

}

.success-status-message {

    margin-top: 12px;
    color: green;
    font-size: 12px;

}

.error-status-message {

    margin-top: 12px;
    color: red;
    font-size: 12px;

}