@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.titulo {

    font-weight: 400;
    font-size: 30px;
    margin-bottom: 10px;
    align-items: center;
    font-weight: bold;


}

.subtitulo {

    margin-bottom: 10px;
    font-size: 18px;
    opacity: 0.5;


}

.logo-image {
    align-items: center;
    background-size: cover;
    background-position: 0px -100px;
    width: 50vw;
    /* 50% da largura do monitor */
    height: 100vh;
    /* 100% do altura da tela */

}

.page-container {


    display: flex;
    /* um ao lado do outro */
    align-items: center;
    justify-content: center;
    background-color: #F3F5F8;
    height: 100vh;

}

.login-tela {

    background-color: white;
    width: 50vw;
    /* 50% da largura do monitor */
    height: 80vh;
    /* 100% do altura da tela */
    /* Kit sobrevivência da centralização */
    display: flex;
    /* Ativar o flex */
    flex-direction: column;
    /* Muda o flex para colunas */
    align-items: center;
    /* Centralizar horizontalmente */
    justify-content: center;
    /* Centralizar verticalmente */


}



.inpt {

    padding: 18px;
    /* Margem interna */
    background-color: #F7F9FB;
    /* Define a cor de fundo */
    width: 500px;
    /* Define a largura */
    border: 1px solid #ccc;
    /* Define a borda */
    border-radius: 10px;
    /* Define o arredondamento da borda */
    margin-bottom: 16px;
    /* Define a distância de um botão para o outro */
}

.btn {

    cursor: pointer;
    padding: 18px;
    background-color: #335CFF;
    color: white;
    /* Cor da fonte */
    border: none;
    /*altura*/
    width: 500px;
    /*largura*/
    border-radius: 10px;
    /* Arredonda as bordas */


}

.error-message {

    color: red;
    font-size: 12px;
    transform: translateY(-12px) translateX(-90px);
    margin-top: 12px;

}

.success-status-message {

    margin-top: 12px;
    color: green;
    font-size: 12px;

}

.error-status-message {

    margin-top: 12px;
    color: red;
    font-size: 12px;

}

.imgss {

    width: 190px;
    height: 45px;
    margin-bottom: 20px;

}

.link {

    margin-top: 35px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #525866;
    font-size: 14px;

}

.label-row {
  display: flex;
  justify-content: space-between; /* Password à esquerda, Forgot à direita */
  align-items: center;
  margin-bottom: 6px; /* espaço entre essa linha e o input */
}

.label-row p {
  margin: 0; /* remove margens padrão */
}

.txt {
  opacity: 0.5;
  font-size: 0.9rem;
  cursor: pointer;
}

.input-container {
  position: relative;
  width: 100%;
}



.input-container i {
  position: absolute;
  right: 12px;
  top: 37%;
  transform: translateY(-50%);
  color: #aaa;
  cursor: pointer;
}


.error{
    display: block;
    margin-top: 8px;
    margin-bottom: 10px;
}

.div-linha {
    border-top: 2px solid #E0E4EA;
    margin-top: 20px;
    padding-top: 25px;
    width: 70%;
    text-align: center;
  }
  
  .text{
    font-size: 14px;
  }
  
  @media screen and (max-width: 768px){

  .login-tela{
    width: 100vw;
    height: 100vh;
  }

  .input-container{
    width: 100vw;
  }

 .inpt-resp {
    width: 60vw;
}

.page-container {
    width: 100vw;
}

.inpt{
    width: 60vw;

}

.btn{
    width: 60vw;
}

  }
    
    
  
