.page-container{
    display: flex;
    align-items: center; /*Alinha os itens no centro horizontalmente*/
    justify-content: center; /*Alinha os itens no centro verticalmente*/
    background-color: #F3F5F8;
    width: 100vw; /*50 % do tamanho horizontal do monitor*/
    height: 100vh; /*50% do tamanho vertical do monitor*/
    
}

.login-container {
    display: flex; /*Flexbox para alinhar os itens*/
    flex-direction: column; /*Coluna para alinhar os itens verticalmente*/
    align-items: center; /*Alinha os itens no centro horizontalmente*/
    justify-content: center; /*Alinha os itens no centro verticalmente*/
    background-color: white;
    width: 750px;
    height: 700px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5px;
  }

  .inpt {
  
    padding: 18px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.014);
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 16px;
    
    
    
    
    
}

.titulo {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;

  }

  .texts{
    margin-top: 8px;
    margin-bottom: 30px;
    font-size: 13px;
    color: #525866;
    
  }

  .text2{

   text-align: left;
   margin: 6px;
   font-size: 14px;
   font-weight: 500;
  }

  .btn{
    background-color: #335CFF;
    width: 450px;
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 16px;
    color: white;
    font-size: 16px;
    margin-top: 16px;
    cursor: pointer;
    
  }

  .img{
    width: 190px;
    height: 45px;
    margin-bottom: 24px;
  }

  .link{
    margin-top: 32px;
    text-decoration: none;
    color: #525866;
    font-size: 14px;
    border-top: #525866;
    
    
  }

  .text3{
    font-size: 12px;
    color: #525866;
  }

  .input-icon-container {
    position: relative;
    width: 100%;
  }

  .input-icon-container input {
    width: 100%;
    padding-right: 35px;
    height: px;
    font-size: 16px;
    box-sizing: border-box;
  }

  .input-icon-container i {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
  }

  .error-message {
  
    color: red;
    font-size: 12px;
    margin-top: 10px;
    
}
  
  

  