<!-- Topo -->
<header class="top-bar">
  <div class="logo">
    <img src="imgs/logo.png" alt="logo-notes">
  </div>
  <div class="search-area">
    <div class="input-icon-container">
      <input class="inpt" type="text" placeholder="Buscar notas...">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <button class="power-btn">⏻</button>
  </div>
</header>

<div class="notes-app">
  <!-- Conteúdo principal -->
  <aside class="sidebar">
    <button class="btn-create" (click)="onNoteCreate()">+ Criar nova nota</button>

    @for (nota of notes; track $index) {
    <div (click)="onNoteClick(nota)" class="note-item note-active">
      <div class="thumb1"></div>
      <div class="meta">
        <div class="note-title">{{nota.titulo}}</div>
        <div class="note-tags">
          <span class="tag">Dev</span>
          <span class="tag">React</span>
        </div>
        <div class="note-date">25 Set 2025</div>
      </div>
    </div>
    }

    <!-- 
    <div class="note-item">
      <div class="thumb2"></div>
      <div class="meta">
        <div class="note-title">Japan Travel Planning</div>
        <div class="note-tags">
          <span class="tag">Travel</span>
          <span class="tag">Personal</span>
        </div>
        <div class="note-date">22 Set 2025</div>
      </div>
    </div>

    <div class="note-item">
      <div class="thumb3"></div>
      <div class="meta">
        <div class="note-title">Favorite Pasta Recipes</div>
        <div class="note-tags">
          <span class="tag">Cooking</span>
          <span class="tag">Recipes</span>
        </div>
        <div class="note-date">22 Set 2025</div>
      </div>
    </div>


    <div class="note-item">
      <div class="thumb4"></div>
      <div class="meta">
        <div class="note-title">Weekly Workout Plan</div>
        <div class="note-tags">
          <span class="tag">Dev</span>
          <span class="tag">React</span>
        </div>
        <div class="note-date">22 Set 2025</div>
      </div>
    </div>

    <div class="note-item">
      <div class="thumb5"></div>
      <div class="meta">
        <div class="note-title">Meal Prep Ideas</div>
        <div class="note-tags">
          <span class="tag">Cooking</span>
          <span class="tag">Health</span>
          <span class="tag">Recipes</span>
        </div>
        <div class="note-date">22 Set 2025</div>
      </div>
    </div>

    <div class="note-item">
      <div class="thumb6"></div>
      <div class="meta">
        <div class="note-title">Reading List</div>
        <div class="note-tags">
          <span class="tag">Personal</span>
          <span class="tag">Dev</span>
        </div>
        <div class="note-date">22 Set 2025</div>
      </div>
    </div>

    <div class="note-item">
      <div class="thumb7"></div>
      <div class="meta">
        <div class="note-title">Fitness Goals 2025</div>
        <div class="note-tags">
          <span class="tag">Fitness</span>
          <span class="tag">Health</span>
          <span class="tag">Personal</span>
        </div>
        <div class="note-date">22 Set 2025</div>
      </div>
    </div> -->

  </aside>

  <main class="content">
    <div *ngIf="selectedNote" class="note-view">
      <label class="image" [style.background-image]="'url(' + (urlImagem || '') + ')'">
        <input type="file" accept="image/*" (change)="definirImagem($event)" class="upload-img" />
        <span class="image__hint" *ngIf="!(urlImagem)">Clique para escolher uma imagem</span>
      </label>


      <div class="cover">
        <div class="cover-image">
          <svg viewBox="0 0 800 150" preserveAspectRatio="none" class="svg-cover">
          </svg>
        </div>
      </div>

      <div class="note-head">
        <input [formControl]="tituloNota" class="note-title-display">

        <select [(ngModel)]="tagSelecionada" id="etiqueta" class="etiquetas">
          <!-- <select [(ngModel)]="selectedNote.tags" id="etiqueta" class="etiquetas"> -->
          <option selected disabled>Selecione uma etiqueta</option>
          <option value="dev">Dev</option>
          <option value="cooking">Cooking</option>
          <option value="work">Work</option>
          <option value="home">Home</option>
          <option value="home">Travel</option>
        </select>

        <div class="note-meta-row">
          <div class="tags">
            <span class="tag">Dev</span>
            <span class="tag">React</span>
            <span class="last-edited">TESTE</span>
          </div>

        </div>
      </div>
      <form class="editor">
        <textarea [formControl]="descricaoNota" rows="12" class="text-editor"
          placeholder="Escreva sua nota..."></textarea>

      </form>

      <div class="editor-footer">
        <button type="button" class="btn-primary" (click)="onNoteSave()">Salvar</button>
        <button type="button" class="btn-ghost" (click)="selectedNote = null">Cancelar</button>
      </div>

    </div>
  </main>
  <div class="right-bar">
    <button (click)="onNoteDelete()" class="btn-delete">+ Excluir nota</button>
  </div>
</div>